*{
    box-sizing: border-box;
}
body {
    background-color:#ffe4c4;
    font-family:"Trebuchet MS",Arial,sans-serif;
    margin: 16px
    }
h1,p,ul {
    text-align:center
    }
h1,ul {
    background-color:#deb887
    }
h1 {
    color:#d2691e;
    margin-top: 0;
    margin-bottom: 0
    }
ul {
    list-style-type:none;
    padding:0;
    margin:0
    }
li{
    background-color: rgb(255, 211, 154);
    margin: 5px;
}
:not(a,html, .unordered-list) {
    padding:11px
    }

.unordered-list{
    margin: 0 auto
}
@media only screen and (min-width: 1024px){
    body{
        width: 50%;
        margin: 16px auto
    }
    .unordered-list{
        width: 40%
    }
}