body {
    background-color:#ffe4c4;
    font-family:"Trebuchet MS",Arial,sans-serif
    }
h1,p,ul {
    text-align:center
    }
h1,ul {
    background-color:#deb887
    }
h1 {
    color:#d2691e;
    margin-top: 0;
    margin-bottom: 0
    }
ul {
    list-style-type:none;
    padding:0;
    margin:0;
    display: inline-flex;
    }
:not(a,html, .unordered-list) {
    outline:2px solid red;
    padding:16px
    }

.unordered-list{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}