* {
    box-sizing:border-box
}

body {
    background-color:#ffe4c4;
    font-family:"Trebuchet MS",Arial,sans-serif
}

:not(html) {
    padding:16px
}

h1 {
    color:#d2691e;
    margin-bottom:0;
    margin-top:0;
    text-align:center
}

img {
    display:block;
    height:auto;
    margin:auto;
    width:60%
}

li {
    background-color:#ffd39a;
    margin:5px
}

h2,p,ul,ol {
    margin:0
}

h1,ul,p,ol,.recipe-container,p {
    background-color:#deb887
}

@media only screen and (min-width: 1024px) {
    .recipe-container {
        margin:auto;
        width:85%
    }

    img {
        display:block;
        height:auto;
        margin:auto;
        width:20%
    }
}